#services {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-around;
		margin: 25px auto;
		width: 1240px;
		.material-icons {
				font-size: 56px;
				color: #999;
		}
}

.service-item {
		flex-basis: 300px;
		padding: 10px;
		margin-bottom: 30px;
    -webkit-animation-name: fade-in;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-timing-function: ease-out;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-fill-mode: forwards;
		opacity: 0;
	
		h2 {
				display: inline-block;
				margin: 0 0 0 10px;
				word-wrap: break-word;
				max-width: 240px;
				min-height: 56px;
				background-color: yellow;
    		vertical-align: top;
				width: 220px;
				word-spacing: 55px;
		}
}

.srv1 {}
.srv2 {-webkit-animation-delay: 0.5s;}
.srv3 {-webkit-animation-delay: 1s;}
.srv4 {-webkit-animation-delay: 1.5s;}
.srv5 {-webkit-animation-delay: 2s;}
.srv6 {-webkit-animation-delay: 2.5s;}

@-webkit-keyframes fade-in {
	from {
		opacity: 0;
	}
	to { 
		opacity: 1;
	}
}

#slidein {
		display: flex;
		flex-direction: column;
//		overflow: hidden;
}

.slideitem {
		width: 100%;
		height: 150px;
		position: relative;
		color: #fff;
		margin-bottom: 5px;
		p {
				margin:  0 auto;
				width: 1240px;
		}
}

$start-width: -100%;

@-webkit-keyframes push-bg {
	from {
		-webkit-transform: translateX($start-width);
	}
	to { 
		-webkit-transform: translateX(0);
	}
}

.bg{
    position: absolute;
	-webkit-transform: translateX($start-width);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
//	background: url('img/OS9-crop.jpg') 0% 0% repeat;
		background: #333;
	z-index: -1;
    
    -webkit-animation-name: push-bg;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 0.5s;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}

.si1 {
//	background: url('img/ass.jpg') 0% 0% repeat;
	-webkit-animation-delay: 0.5s;
}
.si2 {
//	background: url('img/OS9.jpg') 0% 0% repeat;
	-webkit-animation-delay: 1s;
}
.si3 {
//	background: url('img/solarpanels.jpg') 0% 0% repeat;
	-webkit-animation-delay: 1.5s;
}
.si4 {
//	background: url('img/spider.jpg') 0% 0% repeat;
	-webkit-animation-delay: 2s;
}
.si5 {
//	background: url('img/sleepypizza.jpg') 0% 0% repeat;
	-webkit-animation-delay: 2.5s;
}